<div class="formularios">
  <div>
    <h2>Agregar Producto</h2>
    <form id="formProduct">
      Title:
      <input type="text" name="title" id="title" required />
      Description:
      <input type="text" name="description" id="description" required />
      Price (USD):
      <input type="number" name="price" id="price" required />
      Stock:
      <input type="number" name="stock" id="stock" required />
      Code:
      <input type="text" name="code" id="code" required />
      Category:
      <input type="text" name="category" id="category" required />
      <input type="submit" value="Enviar" />
    </form>
  </div>
  <div>
    <h2>Eliminar Producto</h2>
    <form id="deleteProduct">
      ID:
      <input type="number" name="id" id="id" />
      <input type="submit" value="Eliminar" />
    </form>
  </div>
</div>

<table id="tableProds">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price ($)</th>
      <th>Stock</th>
      <th>code</th>
      <th>category</th>
    </tr>
  </thead>
  <tbody id="bodyProd">
    {{#each products}}
      <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
        <td>{{code}}</td>
        <td>{{category}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>